In [1]:
import pandas as pd

import datetime
import os

In [2]:
path = os.getcwd()
path

'/Users/victorb/Desktop/MAESTRIA/Data Visualization/Tableau-Python/Practica Final'

In [3]:
df=pd.read_csv('Chicago_crime_limpia.csv')
df.columns

Index(['Unnamed: 0', 'DATE  OF OCCURRENCE', ' IUCR', ' PRIMARY DESCRIPTION',
       ' SECONDARY DESCRIPTION', ' LOCATION DESCRIPTION', 'ARREST', 'DOMESTIC',
       'LATITUDE', 'LONGITUDE', 'City', 'State'],
      dtype='object')

In [4]:
df1=df
df1['DATE  OF OCCURRENCE']= pd.to_datetime(df1['DATE  OF OCCURRENCE'])
df1.dtypes

Unnamed: 0                         int64
DATE  OF OCCURRENCE       datetime64[ns]
 IUCR                             object
 PRIMARY DESCRIPTION              object
 SECONDARY DESCRIPTION            object
 LOCATION DESCRIPTION             object
ARREST                            object
DOMESTIC                          object
LATITUDE                         float64
LONGITUDE                        float64
City                              object
State                             object
dtype: object

In [5]:
df.dtypes

Unnamed: 0                         int64
DATE  OF OCCURRENCE       datetime64[ns]
 IUCR                             object
 PRIMARY DESCRIPTION              object
 SECONDARY DESCRIPTION            object
 LOCATION DESCRIPTION             object
ARREST                            object
DOMESTIC                          object
LATITUDE                         float64
LONGITUDE                        float64
City                              object
State                             object
dtype: object

In [6]:
df.isnull().sum()
df.describe()

          Unnamed: 0       LATITUDE      LONGITUDE
count  205258.000000  203972.000000  203972.000000
mean   102628.500000      41.840356     -87.670940
std     59253.025114       0.087968       0.059764
min         0.000000      41.644590     -87.927365
25%     51314.250000      41.765179     -87.714478
50%    102628.500000      41.854546     -87.664975
75%    153942.750000      41.904609     -87.627429
max    205257.000000      42.022586     -87.524545

In [7]:
df=df.dropna( axis=0)
df.isnull().sum()

Unnamed: 0                0
DATE  OF OCCURRENCE       0
 IUCR                     0
 PRIMARY DESCRIPTION      0
 SECONDARY DESCRIPTION    0
 LOCATION DESCRIPTION     0
ARREST                    0
DOMESTIC                  0
LATITUDE                  0
LONGITUDE                 0
City                      0
State                     0
dtype: int64

In [8]:
df.isnull().sum()
df.describe()

          Unnamed: 0       LATITUDE      LONGITUDE
count  202996.000000  202996.000000  202996.000000
mean   102786.540764      41.840221     -87.670945
std     59236.932954       0.087912       0.059770
min         0.000000      41.644590     -87.927365
25%     51576.500000      41.765158     -87.714552
50%    102842.500000      41.854271     -87.665007
75%    154087.250000      41.904462     -87.627419
max    205257.000000      42.022586     -87.524545

In [9]:
df.columns

Index(['Unnamed: 0', 'DATE  OF OCCURRENCE', ' IUCR', ' PRIMARY DESCRIPTION',
       ' SECONDARY DESCRIPTION', ' LOCATION DESCRIPTION', 'ARREST', 'DOMESTIC',
       'LATITUDE', 'LONGITUDE', 'City', 'State'],
      dtype='object')

In [10]:
df[' PRIMARY DESCRIPTION'].unique()

array(['BATTERY', 'THEFT', 'CRIMINAL TRESPASS', 'NARCOTICS',
       'CRIMINAL DAMAGE', 'BURGLARY', 'MOTOR VEHICLE THEFT',
       'OFFENSE INVOLVING CHILDREN', 'DECEPTIVE PRACTICE',
       'OTHER OFFENSE', 'ASSAULT', 'ROBBERY', 'SEX OFFENSE',
       'WEAPONS VIOLATION', 'HOMICIDE', 'CRIMINAL SEXUAL ASSAULT',
       'PUBLIC PEACE VIOLATION', 'PROSTITUTION',
       'INTERFERENCE WITH PUBLIC OFFICER', 'INTIMIDATION', 'STALKING',
       'ARSON', 'CONCEALED CARRY LICENSE VIOLATION', 'KIDNAPPING',
       'LIQUOR LAW VIOLATION', 'OBSCENITY', 'CRIM SEXUAL ASSAULT',
       'OTHER NARCOTIC VIOLATION', 'PUBLIC INDECENCY',
       'HUMAN TRAFFICKING', 'GAMBLING', 'NON-CRIMINAL', 'RITUALISM'],
      dtype=object)

In [11]:
GRAVITY_OF_CRIME=[]
for i in df[' PRIMARY DESCRIPTION']:
    if i =='BATTERY' or i=='NARCOTICS' or i=='CRIMINAL DAMAGE' or i=='BURGLARY' or i=='MOTOR VEHICLE THEFT' or i=='OFFENSE INVOLVING CHILDREN' or i=='HOMICIDE' or i=='CRIMINAL SEXUAL ASSAULT' or i=='ARSON' or i=='KIDNAPPING' or i=='HUMAN TRAFFICKING' or i=='CRIM SEXUAL ASSAULT':
        i='HIGH'
        GRAVITY_OF_CRIME.append(i)
    elif i=='THEFT' or  i=='CRIMINAL TRESPASS' or i=='ASSAULT' or i=='ROBBERY' or i=='SEX OFFENSE' or i=='INTIMIDATION' or i=='CONCEALED CARRY LICENSE VIOLATION' or i=='GAMBLING':
        i='MEDIUM'
        GRAVITY_OF_CRIME.append(i)
    elif i=='DECEPTIVE PRACTICE' or i=='OTHER OFFENSE' or i=='WEAPONS VIOLATION' or i=='PUBLIC PEACE VIOLATION' or i=='PROSTITUTION' or i=='INTERFERENCE WITH PUBLIC OFFICER' or i=='STALKING' or i=='LIQUOR LAW VIOLATION' or i=='OBSCENITY' or i=='OTHER NARCOTIC VIOLATION' or i=='PUBLIC INDECENCY' or i=='NON-CRIMINAL' or i=='RITUALISM':
        i='LOW'
        GRAVITY_OF_CRIME.append(i)
Tiempo=[]   
for i in df['DATE  OF OCCURRENCE']:
    if i.hour >= 0 and i.hour<6 or i.hour==6 and i.minute ==0:
        i='Dawn'
        Tiempo.append(i)
    elif i.hour < 12 or i.hour==12 and i.minute ==0:
        i='Morning'
        Tiempo.append(i)
    elif i.hour < 18 or i.hour==18 and i.minute ==0:
        i='Afternoon'
        Tiempo.append(i)
    elif i.hour < 24 or i.hour==24 and i.minute ==0:
        i='Evening'
        Tiempo.append(i)
df['GRAVITY_OF_CRIME']=GRAVITY_OF_CRIME
df['TIME_FRAME']=Tiempo

<ipython-input-11-5eb3eb78e69f>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GRAVITY_OF_CRIME']=GRAVITY_OF_CRIME
<ipython-input-11-5eb3eb78e69f>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TIME_FRAME']=Tiempo

In [12]:
df=df.iloc[:,1:]

In [13]:
df

,DATE OF OCCURRENCE,IUCR,PRIMARY DESCRIPTION,SECONDARY DESCRIPTION,LOCATION DESCRIPTION,ARREST,DOMESTIC,LATITUDE,LONGITUDE,City,State,GRAVITY_OF_CRIME,TIME_FRAME
0,2020-02-25 10:20:00,0460,BATTERY,SIMPLE,GROCERY FOOD STORE,Y,N,41.864494,-87.639158,Chicago,Illinois,HIGH,Morning
1,2020-02-25 05:30:00,0820,THEFT,$500 AND UNDER,STREET,N,N,41.959340,-87.711475,Chicago,Illinois,MEDIUM,Dawn
2,2020-02-25 13:04:00,1330,CRIMINAL TRESPASS,TO LAND,RESTAURANT,Y,N,41.848475,-87.724676,Chicago,Illinois,MEDIUM,Afternoon
3,2020-02-25 18:05:00,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,Y,Y,41.987716,-87.666750,Chicago,Illinois,HIGH,Evening
4,2020-02-25 13:42:00,2027,NARCOTICS,POSS: CRACK,STREET,Y,N,41.901353,-87.725041,Chicago,Illinois,HIGH,Afternoon
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205253,2020-10-25 12:00:00,1154,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,N,N,41.933710,-87.780916,Chicago,Illinois,LOW,Morning
205254,2020-11-07 22:00:00,0281,CRIMINAL SEXUAL ASSAULT,NON-AGGRAVATED,HOTEL / MOTEL,N,N,41.869048,-87.624126,Chicago,Illinois,HIGH,Evening
205255,2020-11-17 16:15:00,0560,ASSAULT,SIMPLE,SIDEWALK,N,N,41.967512,-87.708446,Chicago,Illinois,MEDIUM,Afternoon
205256,2020-12-08 19:22:00,0486,BATTERY,DOMESTIC BATTERY SIMPLE,PARK PROPERTY,N,Y,41.951058,-87.643771,Chicago,Illinois,HIGH,Evening
205257,2020-11-17 20:45:00,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,N,Y,42.011302,-87.693586,Chicago,Illinois,HIGH,Evening

In [14]:
df.to_csv('/Users/victorb/Desktop/MAESTRIA/Data Visualization/R/Chicago_crime_limpia.csv')